{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'navbardesigned_front.html' %}
<div class="content-wrapper">
<!-- <section class="col-lg-12 connectedSortable"> -->
<div class="box box-primary">

		<section class="content-header">

			<div class="row">
			<section class="col-lg-12 connectedSortable">
					<div class="box box-primary">
						<div class="box-header">
							<i class="ion ion-clipboard"></i>

							<h3 class="box-title">レッスンリスト</h3>
						</div>

<!-- student -->
{% if user.account_type == 0 %}
<div class="box-tools pull-right">
            <div class="pagination">
                  <span class="step-links">
                    {% if object_list.has_previous %}
                    <a href="?page={{ object_list.previous_page_number }}">前へ</a>
                    {% endif %}

                    <span class="current">
                      Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                    </span>

                    {% if object_list.has_next %}
                    <a href="?page={{ object_list.next_page_number }}">次へ</a>
                    {% endif %}
                  </span>
                </div>
</div>
<br>
<div class="box-body">
<ul class="event-list">
<br>
<table class="table">
<thead>
<tr>
<th>レッスンタイプ</th>
<th>開始時刻</th>
<th>ステータス</th>
<th></th>
<th>担当講師</th>
</tr>
</thead>
<tbody>
{% for obj in object_list %}
<tr>
<td>{% if obj.lesson_type == 0 %}ソルフェージュ(25分間){% endif %}{% if obj.lesson_type == 1 %}演奏レッスン(40分間){% endif %}</td>
<td>{% if obj.start %}{{ obj.start }}{% endif %}</td>
<td>{% if obj.status == 0 %}<p class="label label-success">予約申請中</p>{% endif %}{% if obj.status == 1 %}<p class="label label-primary">予約完了</p>{% endif %}{% if obj.status == 2 %}<p class="label label-info">受講済</p>{% endif %}{% if obj.status == 3 %}<p class="label label-warning">キャンセル</p>{% endif %}{% if obj.status == 4 %}<p class="label label-warning">予約申請不可</p>{% endif %}{% if obj.status == 6 %}<p class="label label-warning">直前キャンセル</p>{% endif %}</td>
<td>{% if obj.teacher.last_name %}<a href="/teacher_detail/{{ obj.teacher.uuid }}" target="_blank" rel="noopener">{{ obj.teacher.last_name }}先生{% endif %}</a></td>
<td>{% if obj.status == 0 or obj.status == 1 %}<a href="lesson_edit_to_cancel/{{ obj.id }}"><button type="button" class="btn btn-default pull-right">キャンセル</button></a>{% endif %}</td>
<td>{% if obj.status == 1 %}<a href="lesson_edit_to_fin/{{ obj.id }}"><button type="button" class="btn btn-default pull-right">受講完了</button></a>{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>



</ul>
<div class="box-footer clearfix no-border">
<div class="box-tools pull-right">
            <div class="pagination">
                  <span class="step-links">
                    {% if object_list.has_previous %}
                    <a href="?page={{ object_list.previous_page_number }}">前へ</a>
                    {% endif %}

                    <span class="current">
                      Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                    </span>

                    {% if object_list.has_next %}
                    <a href="?page={{ object_list.next_page_number }}">次へ</a>
                    {% endif %}
                  </span>
                </div>
            </div>
</div>


					</div>
                </div>
<div class="box-footer clearfix no-border">
　　　　　<a href="/my_private_info"><button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> ダッシュボードへ戻る</button></a>
</div>


              </div>
            </div>
</div>
{% endif %}

<!-- teacher -->
{% if user.account_type == 1 %}
<div class="box-tools pull-right">
            <div class="pagination">
                  <span class="step-links">
                    {% if object_list.has_previous %}
                    <a href="?page={{ object_list.previous_page_number }}">前へ</a>
                    {% endif %}

                    <span class="current">
                      Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                    </span>

                    {% if object_list.has_next %}
                    <a href="?page={{ object_list.next_page_number }}">次へ</a>
                    {% endif %}
                  </span>
                </div>
</div>
<br>
<div class="box-body">
<ul class="event-list">
<br>
<table class="table">
<thead>
<tr>
<th>レッスンタイプ</th>
<th>開始時刻</th>
<th>ステータス</th>
<th></th>
<th>受講者名</th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
{% for obj in object_list %}
<tr>
<td>{% if obj.lesson_type == 0 %}ソルフェージュ(25分間){% endif %}{% if obj.lesson_type == 1 %}演奏レッスン(40分間){% endif %}</td>
<td>{% if obj.start %}{{ obj.start }}{% endif %}</td>
<td>{% if obj.status == 0 %}<p class="label label-success">予約申請中</p>{% endif %}{% if obj.status == 1 %}<p class="label label-primary">予約完了</p>{% endif %}{% if obj.status == 2 %}<p class="label label-info">受講済</p>{% endif %}{% if obj.status == 3 %}<p class="label label-warning">キャンセル</p>{% endif %}{% if obj.status == 4 %}<p class="label label-warning">予約申請不可</p>{% endif %}{% if obj.status == 6 %}<p class="label label-warning">直前キャンセル</p>{% endif %}</td>
<td>{% if obj.trial_or_not == True %}<p class="label label-success">お試し</p>{% endif %}</td>
<td>{% if obj.student.last_name %}{{ obj.student.last_name }}{% endif %}{% if obj.student.first_name %}{{ obj.student.first_name }}{% endif %}さん</a></td>
<td><a href="student_carte/{{ obj.student.uuid }}" target="_blank" rel="noopener">カルテを見る</a></td>
<td>{% if obj.status == 0 %}{% if obj.teacher.id == user.id %}<a href="lesson_edit_to_ng/{{ obj.id }}"><button type="button" class="btn btn-default pull-right">承認しない</button></a>{% endif %}{% endif %}</td>
<td>{% if obj.status == 0 %}{% if obj.teacher.id == user.id %}<a href="lesson_edit_to_ok/{{ obj.id }}"><button type="button" class="btn btn-default pull-right">承認する</button></a>{% endif %}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>



</ul>
<div class="box-footer clearfix no-border">
<div class="box-tools pull-right">
            <div class="pagination">
                  <span class="step-links">
                    {% if object_list.has_previous %}
                    <a href="?page={{ object_list.previous_page_number }}">前へ</a>
                    {% endif %}

                    <span class="current">
                      Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                    </span>

                    {% if object_list.has_next %}
                    <a href="?page={{ object_list.next_page_number }}">次へ</a>
                    {% endif %}
                  </span>
                </div>
            </div>
</div>


					</div>
                </div>
<div class="box-footer clearfix no-border">
　　　　　<a href="/my_private_info"><button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> ダッシュボードへ戻る</button></a>
</div>


              </div>
            </div>
</div>
{% endif %}


{% include 'navbardesigned_foot.html' %}
{% endblock %}
