{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}

{% endblock header %}

<style>
{% block style %}
/*         Just for demo     */
#carousel-example-generic {
  display: inline-block;
}
/*****************************/

/* Plugin styles */
ul.thumbnails-carousel {
  padding: 5px 0 0 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}
ul.thumbnails-carousel .center {
  display: inline-block;
}
ul.thumbnails-carousel li {
  margin-right: 5px;
  float: left;
  cursor: pointer;
}
.controls-background-reset {
  background: none !important;
}
.active-thumbnail {
  opacity: 0.4;
}
.indicators-fix {
  bottom: 70px;
}
{% endblock %}
</style>

{% block content %}
{% include 'navbar.html' %}





<!-- resource_start -->
<div class="box box-primary">
  <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Student Information
        <small>受講生カルテ</small>
      </h1>
      {% include 'navbar_studentdetail2.html' %}
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">

        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
      <section class="col-lg-12 connectedSortable">
      <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-person"></i>

              <h3 class="box-title">受講生情報詳細</h3>
              </div>

      <div class="box-tools pull-right">
      </div>
      <div class="box-body">

      {% if object.student.thumnail_image %}<img src="{{ object.student.thumnail_image.url }}" class='img-responsive img-rounded'  width="200" height="80"/>{% endif %}

      <p><span class="glyphicon glyphicon-user"></span>受講生氏名<br>
      {% if object.student.last_name %}<strong>{{ object.student.last_name }}{% endif %}{% if object.student.first_name %}{{ object.student.first_name }}{% endif %}</strong>

      <p><span class="glyphicon glyphicon-user"></span>自己紹介<br>
      {% if object.student.history_of_user %}{{ object.student.history_of_user }}{% endif %}

        <br>

      </div>
      </div>
    </section>
    <section class="col-lg-12 connectedSortable">

      <div class="box box-primary">
        <div class="box-header">

          <i class="ion ion-clipboard"></i>

          <h3 class="box-title"> 引き継ぎメモ(最新5件)</h3>
        </div>

        <div class="box-tools pull-right">
        </div>
        <div class="box-body">
          <div class="row clearfix">
            <div class="col-md-12 column">
              <div class="tabbable" id="tabs-444468">

                <p><span class="glyphicon glyphicon-user"></span>レッスンタイプ</p>
                {% if object.lesson_type == 0 %}ソルフェージュ(25分間){% endif %}{% if object.lesson_type == 1 %}演奏レッスン(40分間){% endif %}
                <br><br>
                <p><span class="glyphicon glyphicon-user"></span>レッスン日時</p>
                {% if object.start %}{{ object.start }}{% endif %}
                <br><br>
                <p><span class="glyphicon glyphicon-user"></span>使用した教材</p>
                {% if object.hikitsugi_kyouzai_comment %}{{ object.hikitsugi_kyouzai_comment }}{% endif %}
                <br><br>
                <p><span class="glyphicon glyphicon-user"></span>レッスン内容</p>
                {% if object.hikitsugi_comment %}{{ objobject.hikitsugi_comment }}{% endif %}
                <br><br>
                <p><span class="glyphicon glyphicon-user"></span>次回への課題</p>
                {% if object.hikitsugi_jikaimuke_comment %}{{ object.hikitsugi_jikaimuke_commen }}{% endif %}
                <br><br>
                <p><span class="glyphicon glyphicon-user"></span>講師</p>
                {% if object.teacher.last_name %}{{ object.teacher.last_name }}{% endif %}{% if object.teacher.first_name %}{{ object.teacher.first_name }}{% endif %}
                <br><br>
                <br><br>
                {% if object.teacher == request.user %}<a href="/lesson_edit_hikitsugi_comment/{{ object.id }}">コメントを書く</a>{% endif %}


  <div align="right">
            <a href="/student_carte_full/{{ object.student.uuid }}"><button type="button" class="btn btn-default">全履歴を見る</button></a>
      </div>
<!-- calousel end -->




                  </div>
                </div>
              </div>
            </div>
          </div>



       </div>




    </section>
    <!-- /.content -->
{% if apply_query %}
<!-- 応募者リスト（採用者側のみ表示） -->
    <section class="col-lg-12 connectedSortable">
      <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-person"></i>

              <h3 class="box-title">応募者</h3>
              </div>

      <div class="box-tools pull-right">
      </div>
      <div class="box-body">

　　　<h3>応募者リスト</h3>
      <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>応募ID</th>
                        <th>ユーザー名（ポートフォリオサイト）</th>
                        <th>コメント</th>
                        <th>応募日時</th>
                    </tr>
                </thead>
           <tbody>
           {% for obj in apply_query %}
           <tr>
            <th>{% if obj.id %}{{ obj.id }}{% endif %}</th>
            <th>{% if obj.user %}<a href="/my_portfolio/{{ obj.user.username }}" target="_blank">{{ obj.user }}</a>{% endif %}</th>
            <th>{% if obj.comment %}{{ obj.comment }}{% endif %}</th>
            <th>{% if obj.pubdate %}{{ obj.pubdate }}{% endif %}</th>
           </tr>
           {% endfor %}
           </tbody>
           </table>
      </div>

      </div>
      </div>
    </section>
<!-- 応募者リスト（採用者側のみ表示） 修了-->
{% endif %}

  </div>
</div>
{% include 'navbardesigned_foot.html' %}

{% endblock %}

{% block js %}

{% endblock js%}
