{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}

{% endblock header %}

<style>
{% block style %}
/*         Just for demo     */
#carousel-example-generic {
  display: inline-block;
}
/*****************************/

/* Plugin styles */
ul.thumbnails-carousel {
  padding: 5px 0 0 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}
ul.thumbnails-carousel .center {
  display: inline-block;
}
ul.thumbnails-carousel li {
  margin-right: 5px;
  float: left;
  cursor: pointer;
}
.controls-background-reset {
  background: none !important;
}
.active-thumbnail {
  opacity: 0.4;
}
.indicators-fix {
  bottom: 70px;
}
{% endblock %}
</style>

{% block content %}
{% include 'navbar.html' %}





<!-- resource_start -->
<div class="box box-primary">
  <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Student Information
        <small>受講生カルテ</small>
      </h1>
      {% include 'navbar_studentdetail.html' %}
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">

        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
    <section class="col-lg-12 connectedSortable">

      <div class="box box-primary">
        <div class="box-header">

          <i class="ion ion-clipboard"></i>

          <h3 class="box-title"> 引き継ぎメモ(全履歴)</h3>
        </div>

        <div class="box-tools pull-right">
        </div>
        <div class="box-body">
          <div class="row clearfix">
            <div class="col-md-12 column">
              <div class="tabbable" id="tabs-444468">
                <div class="box-tools pull-right">
                            <div class="pagination">
                                  <span class="step-links">
                                    {% if object_list.has_previous %}
                                    <a href="?page={{ object_list.previous_page_number }}">前へ</a>
                                    {% endif %}

                                    <span class="current">
                                      Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                                    </span>

                                    {% if object_list.has_next %}
                                    <a href="?page={{ object_list.next_page_number }}">次へ</a>
                                    {% endif %}
                                  </span>
                                </div>
                </div>

                <table class="table">
                <thead>
                <tr>
                <th>レッスンタイプ</th>
                <th>開始時刻</th>
                <th>引き継ぎメモ</th>
                <th>講師</th>
                <th></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                <tr>
                <td>{% if obj.lesson_type == 0 %}ソルフェージュ(25分間){% endif %}{% if obj.lesson_type == 1 %}演奏レッスン(40分間){% endif %}</td>
                <td>{% if obj.start %}{{ obj.start }}{% endif %}</td>
                <td>{% if obj.hikitsugi_kyouzai_comment %}{{ obj.hikitsugi_kyouzai_comment|truncatechars:10 }}{% endif %}</td>
                <td>{% if obj.hikitsugi_comment %}{{ obj.hikitsugi_comment|truncatechars:10 }}{% endif %}</td>
                <td>{% if obj.hikitsugi_jikaimuke_comment %}{{ obj.hikitsugi_jikaimuke_comment|truncatechars:10 }}{% endif %}</td>
                <td>{% if obj.teacher.last_name %}{{ obj.teacher.last_name }}{% endif %}{% if obj.teacher.first_name %}{{ obj.teacher.first_name }}{% endif %}</a></td>
                <td><a href="/student_carte_detail/{{ obj.id }}" target="_blank">詳細</a></td>
                <td>{% if obj.teacher == request.user %}<a href="/lesson_edit_hikitsugi_comment/{{ obj.id }}">コメントを書く</a>{% endif %}</td>
                </tr>

                {% endfor %}
                </tbody>
                </table>

                <div class="box-tools pull-right">
                            <div class="pagination">
                                  <span class="step-links">
                                    {% if object_list.has_previous %}
                                    <a href="?page={{ object_list.previous_page_number }}">前へ</a>
                                    {% endif %}

                                    <span class="current">
                                      Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                                    </span>

                                    {% if object_list.has_next %}
                                    <a href="?page={{ object_list.next_page_number }}">次へ</a>
                                    {% endif %}
                                  </span>
                                </div>
                </div>



<!-- calousel end -->




                  </div>
                </div>
              </div>
            </div>
          </div>



       </div>




    </section>
    <!-- /.content -->
{% if apply_query %}
<!-- 応募者リスト（採用者側のみ表示） -->
    <section class="col-lg-12 connectedSortable">
      <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-person"></i>

              <h3 class="box-title">応募者</h3>
              </div>

      <div class="box-tools pull-right">
      </div>
      <div class="box-body">

　　　<h3>応募者リスト</h3>
      <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>応募ID</th>
                        <th>ユーザー名（ポートフォリオサイト）</th>
                        <th>コメント</th>
                        <th>応募日時</th>
                    </tr>
                </thead>
           <tbody>
           {% for obj in apply_query %}
           <tr>
            <th>{% if obj.id %}{{ obj.id }}{% endif %}</th>
            <th>{% if obj.user %}<a href="/my_portfolio/{{ obj.user.username }}" target="_blank">{{ obj.user }}</a>{% endif %}</th>
            <td>{% if obj.hikitsugi_kyouzai_comment %}{{ obj.hikitsugi_kyouzai_comment|truncatechars:10 }}{% endif %}</td>
            <td>{% if obj.hikitsugi_comment %}{{ obj.hikitsugi_comment|truncatechars:10 }}{% endif %}</td>
            <td>{% if obj.hikitsugi_jikaimuke_comment %}{{ obj.hikitsugi_jikaimuke_comment|truncatechars:10 }}{% endif %}</td>
            <th>{% if obj.pubdate %}{{ obj.pubdate }}{% endif %}</th>
           </tr>
           {% endfor %}
           </tbody>
           </table>
      </div>

      </div>
      </div>
    </section>
<!-- 応募者リスト（採用者側のみ表示） 修了-->
{% endif %}

  </div>
</div>
{% include 'navbardesigned_foot.html' %}

{% endblock %}

{% block js %}

{% endblock js%}
