{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block header %}

{% endblock header %}

<style>
{% block style %}
/*         Just for demo     */
#carousel-example-generic {
  display: inline-block;
}
/*****************************/

/* Plugin styles */
ul.thumbnails-carousel {
  padding: 5px 0 0 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}
ul.thumbnails-carousel .center {
  display: inline-block;
}
ul.thumbnails-carousel li {
  margin-right: 5px;
  float: left;
  cursor: pointer;
}
.controls-background-reset {
  background: none !important;
}
.active-thumbnail {
  opacity: 0.4;
}
.indicators-fix {
  bottom: 70px;
}
{% endblock %}
</style>

{% block content %}
{% include 'navbar.html' %}





<!-- resource_start -->
<div class="box box-primary">
  <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Teacher Information
        <small>講師プロフィール</small>
      </h1>
      {% include 'navbar_teacherdetail.html' %}
      <br>
{% if follow_obj %}<label class="btn btn-default">お気に入り登録されています</label><a href="/follow_and_release_teacher/{{ teacher.uuid }}"><input type="submit" class="btn btn-primary" value="お気に入りリストから解除"></a>{% endif %}
{% if not follow_obj %}<a href="/follow_and_release_teacher/{{ teacher.uuid }}"><input type="submit" class="btn btn-info" value="お気に入りリストに登録する"></a>{% endif %}
{% if star_obj %}<label class="btn btn-default">スターをつけています</label><a href="/star_point_up_and_down/{{ teacher.uuid }}"><input type="submit" class="btn btn-primary" value="スターをはずす"></a>{% endif %}
{% if not star_obj %}<a href="/star_point_up_and_down/{{ teacher.uuid }}"><input type="submit" class="btn btn-info" value="スターをつける"></a>{% endif %}
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-6 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{% if full_star_obj %}{{ full_star_obj.count }}{% endif %}{% if not full_star_obj %}0{% endif %}</h3>

              <p>スター</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">Apriciated</a>
          </div>
        </div>
        <!-- ./col --
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{% if full_follow_obj %}{{ full_follow_obj.count }}{% endif %}{% if not full_follow_obj %}0{% endif %}<h3>

              <p>お気に入り数</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">Like</a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
      <section class="col-lg-12 connectedSortable">
      <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-person"></i>

              <h3 class="box-title">講師情報詳細</h3>
              </div>

      <div class="box-tools pull-right">
      </div>
      <div class="box-body">

      {% if teacher.thumnail_image %}<img src="{{ teacher.thumnail_image.url }}" class='img-responsive img-rounded'  width="200" height="80"/>{% endif %}
      {% if not teacher.thumnail_image %}<img src="{% static 'img/shadow.png' %}" class='img-responsive img-rounded'  width="200" height="80"/>{% endif %}

      <p><span class="glyphicon glyphicon-user"></span>講師氏名<br>
      {% if teacher.last_name %}<strong>{{ teacher.last_name }}{% if teacher.first_name %}{{ teacher.first_name }}{% endif %}</strong>{% endif %}

      <p><span class="glyphicon glyphicon-user"></span>経歴<br>
      {% if teacher.history_of_user %}{{ teacher.history_of_user }}{% endif %}

      <p><span class="glyphicon glyphicon-user"></span>レッスン受講方法<br></p>
      <p><b>Skypeでのレッスンです。受講曲が決まっている場合は、事前に楽譜を講師側へ送ってください。<br><br>
        体験レッスンやレッスンについての詳細お問い合わせは下記公式LINEからお気軽にどうぞ!!<br>
        <b>SupportingMusic公式LINEアカウント(24時間お問い合わせ可能です※)</b><br>
        <img src="{% static 'img/786nuclh.png' %}" /><br>
        <br>※確認が必要なお問い合わせの応答はスタッフ在籍時間帯に行います<br>


      Skypeレッスンの流れについてポイントをまとめた記事も <a href="https://supportingmusic.hatenablog.com/archive/category/%E3%83%AC%E3%83%83%E3%82%B9%E3%83%B3%E3%81%AE%E5%A7%8B%E3%82%81%E6%96%B9">こちら</a> にご用意しておりますので、ご利用ください



      {% if teacher.mysite_url %}<p><span class="glyphicon glyphicon-user"></span>関連サイト<br><a href="{{ teacher.mysite_url }}">{{ teacher.mysite_url }}</a></p>{% endif %}



        <br>

      </div>
      </div>
    </section>
    <section class="col-lg-12 connectedSortable">

      <div class="box box-primary">
        <div class="box-header">

          <i class="ion ion-clipboard"></i>

          <h3 class="box-title"> 受講者の声</h3>
        </div>

        <div class="box-tools pull-right">
        </div>
        <div class="box-body">
          <div class="row clearfix">
            <div class="col-md-12 column">
              <div class="tabbable" id="tabs-444468">



                {% for obj in review_obj %}
                <p>{% if obj.student.thumnail_image %}<img src='{{ obj.student.thumnail_image.url }}' class='img-responsive img-rounded'  width="100" height="40"/>{% endif %}{% if obj.student.last_name %}{{ obj.student.last_name }}{% endif %}{% if obj.student.first_name %}{{ obj.student.first_name }}{% endif %}さんからのコメント</p>
                <p>{% if obj.comment %}{{ obj.comment }}{% endif %}</p>
                <br><br>
                {% endfor %}


<!-- calousel end -->




                  </div>
                </div>
              </div>
            </div>
          </div>



       </div>




    </section>
    <!-- /.content -->
{% if apply_query %}
<!-- 応募者リスト（採用者側のみ表示） -->
    <section class="col-lg-12 connectedSortable">
      <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-person"></i>

              <h3 class="box-title">応募者</h3>
              </div>

      <div class="box-tools pull-right">
      </div>
      <div class="box-body">

　　　<h3>応募者リスト</h3>
      <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>応募ID</th>
                        <th>ユーザー名（ポートフォリオサイト）</th>
                        <th>コメント</th>
                        <th>応募日時</th>
                    </tr>
                </thead>
           <tbody>
           {% for obj in apply_query %}
           <tr>
            <th>{% if obj.id %}{{ obj.id }}{% endif %}</th>
            <th>{% if obj.user %}<a href="/my_portfolio/{{ obj.user.username }}" target="_blank">{{ obj.user }}</a>{% endif %}</th>
            <th>{% if obj.comment %}{{ obj.comment }}{% endif %}</th>
            <th>{% if obj.pubdate %}{{ obj.pubdate }}{% endif %}</th>
           </tr>
           {% endfor %}
           </tbody>
           </table>
      </div>

      </div>
      </div>
    </section>
<!-- 応募者リスト（採用者側のみ表示） 修了-->
{% endif %}

  </div>
</div>
{% include 'navbardesigned_foot.html' %}

{% endblock %}

{% block js %}

{% endblock js%}
