{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar_inside_map.html' %}
<div class="container mt-3">
<form action="" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary btn-lg" >送信</button>
</form>
<br>
</div>
{% endblock %}


<form method='POST' action='' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input class='btn btn-default' type='submit' value='更新' />
</form>
