{% extends "base.html" %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mt-3">
    {% include 'navbar_inside.html' %}<br>

<table class="table">
    <tbody>
        メール署名情報(設定なしの項目にはメールには表記されません)
        <tr>
            <th>組織名</th>
            <td>{% if user.sender_organization_name %}{{ user.sender_organization_name }}{% endif %}{% if not user.sender_organization_name %}(設定なし){% endif %}</td>
        </tr>
        <tr>
            <th>部署名</th>
            <td>{% if user.sender_department_name %}{{ user.sender_department_name }}{% endif %}{% if not user.sender_department_name %}(設定なし){% endif %}</td>
        </tr>
        <tr>
            <th>送信担当者氏名</th>
            <td>{% if user.sender_name %}{{ user.sender_name }}{% endif %}{% if not user.sender_name %}(設定なし){% endif %}</td>
        </tr>
        <tr>
            <th>送信者住所</th>
            <td>{% if user.sender_address_one %}{{  user.sender_address_one }}{% endif %}{% if  user.sender_address_two %}{{  user.sender_address_two }}{% endif %}{% if  user.sender_address_three %}{{  user.sender_address_three }}{% endif %}{% if not  user.sender_address_one and not  user.sender_address_two and not  user.sender_address_one %}(未登録によりメールでは省略されます）{% endif %}</td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td>{% if user.sender_tel %}{{ user.sender_tel }}{% endif %}{% if not user.sender_tel %}(設定なし){% endif %}</td>
        </tr>
        <tr>
            <th>FAX番号</th>
            <td>{% if user.sender_fax %}{{ user.sender_fax }}{% endif %}{% if not user.sender_fax %}(設定なし){% endif %}</td>
        </tr>
        <hr>
        <tr>
            <th>Eメールアドレス(署名部分の表示です)</th>
            <td>{% if user.sender_email %}{{ user.sender_email }}{% endif %}{% if not user.sender_email %}(設定なし){% endif %}</td>
        </tr>
        <tr>
            <th>リンク1タイトル</th>
            <td>{% if user.sender_url_one_title %}{{ user.sender_url_one_title }}{% endif %}{% if not user.sender_url_one_title %}(設定なし){% endif %}</td>
        </tr>
        <tr>
            <th>リンク1URL</th>
            <td>{% if user.sender_url_one %}{{ user.sender_url_one }}{% endif %}{% if not user.sender_url_one %}(設定なし){% endif %}</td>
        </tr>
        <tr>
            <th>リンク2タイトル</th>
            <td>{% if user.sender_url_two_title %}{{ user.sender_url_two_title }}{% endif %}{% if not user.sender_url_two_title %}(設定なし){% endif %}</td>
        </tr>
        <tr>
            <th>リンク2URL</th>
            <td>{% if user.sender_url_two %}{{ user.sender_url_two }}{% endif %}{% if not user.sender_url_two %}(設定なし){% endif %}</td>
        </tr>
        <tr>
            <th>リンク3タイトル</th>
            <td>{% if user.sender_url_three_title %}{{ user.sender_url_three_title }}{% endif %}{% if not user.sender_url_three_title %}(設定なし){% endif %}</td>
        </tr>
        <tr>
            <th>リンク3URL</th>
            <td>{% if user.sender_url_three %}{{ user.sender_url_three }}{% endif %}{% if not user.sender_url_three %}(設定なし){% endif %}</td>
        </tr>
    </tbody>
</table>
<br>
<a class="nav-link" href="/my_public_sender_info_edit"><button type="submit" class="btn btn-primary btn-lg" >ユーザー情報更新</button></a>
<br>
</div>

{% endblock %}