{% extends "base.html" %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mt-3">
    {% include 'navbar_inside.html' %}<br>
<table class="table">
    <tbody>
        ユーザー情報 
        <tr>
            <th>登録メールアドレス</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>ユーザー名</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th>住所</th>
            <td>{% if user.address_one %}{{ user.address_one }}{% endif %}{% if user.address_two %}{{ user.address_two }}{% endif %}{% if user.address_three %}{{ user.address_three }}{% endif %}</td>
        </tr>
        <tr>
            <th>緊急時連絡先電話番号その1</th>
            <td>{% if user.tel_one %}{{ user.tel_one }}{% endif %}{% if not user.tel_one %}(未設定){% endif %}</td>
        </tr>
        <tr>
            <th>緊急時連絡先電話番号その2</th>
            <td>{% if user.tel_two %}{{ user.tel_two }}{% endif %}{% if not tel_two %}(未設定){% endif %}</td>
        </tr>
        <hr>
        <tr>
            <th>アカウントタイプ</th>
            <td>{% if user.account_type == 0 %}Free(最大500通/月 送信可能){% endif %}{% if user.account_type == 1 %}Pro(最大5000通/月 送信可能){% endif %}{% if user.account_type == 2 %}Premium(最大3万通/月 送信可能){% endif %}{% if user.account_type == 3 %}Special(最大10万通/月 送信可能){% endif %}{% if user.account_type == 4 %}Ultimate(最大20万通/月 送信可能){% endif %}</td>
        </tr>
        <tr>
            <th>今月の送付可能メール数残高(月初にユーザータイプに応じたポイントに残高が戻ります。)</th>
            <td>残り{{ user.credit_point }}通</td>
        </tr>
    </tbody>
</table>
<br>
<a class="nav-link" href="/my_private_info_edit"><button type="submit" class="btn btn-primary btn-lg" >ユーザー情報更新</button></a>
<br>
</div>

{% endblock %}