{% extends "base.html" %}
{% block content %}
{% include 'navbardesigned_front.html' %}
<div class="box box-primary">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {% ifequal request.user user %}Dashboard
        <small>Control panel</small>{% endifequal %}
      </h1>
      {% ifequal request.user user %}<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>{% endifequal %}
    </section>

    {% if user.account_type == 1 %}<!-- teacher user -->

    <!-- teacher user -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      {% ifequal request.user user %}
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{% if schedule_total %}{{ schedule_total.count }}{% endif %}{% if not schedule_total %}0{% endif %}</h3>

              <p>受講完了レッスン数</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">Profit</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-orange">
            <div class="inner">
              <h3>{% if schedule_from_today %}{{ schedule_from_today.count }}{% endif %}</h3>

              <p>予約済みレッスン数</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">rest</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{% if user.liked_point %}{{ user.liked_point }}{% endif %}{% if not user.liked_point %}0{% endif %}</h3>

              <p>獲得スター数</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">Like</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-orange">
            <div class="inner">
              <h3>{% if user.pv_point %}{{ user.pv_point }}{% endif %}{% if not user.pv_point %}0{% endif %}</h3>

              <p>公開ページPV</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">Pageview</a>
          </div>
        </div>
        {% endifequal %}
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
<!-- designer_start -->

<!-- designer_end -->

<!-- supplyer_start -->
      <section class="col-lg-3 connectedSortable">
      <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-person"></i>
              <h3 class="box-title">{{ user.first_name }}さん</h3>
              </div>

      <div class="box-tools pull-right">
      </div>
      <div class="box-body">
        {% if user.account_type == 1 %}<span class="badge badge-default">講師アカウント</span><br>{% endif %}
        <p><h5>【公開情報】</h5></p>
        <p><span class="glyphicon glyphicon-pencil"></span>プロフィール画像</p>
        {% if user.thumnail_image %}<img src='{{ user.thumnail_image.url }}' class='img-responsive img-rounded'  width="200" height="80"/>{% endif %}
        {% if not user.thumnail_image %}プロフィール画像が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}
        <br>
        <p><span class="glyphicon glyphicon-map-marker"></span>苗字<br>{% if user.last_name %}{{ user.last_name }}{% endif %}{% if not user.last_name %}苗字が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>名前<br>{% if user.first_name %}{{ user.first_name }}{% endif %}{% if not user.first_name %}お名前が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>Twitter<br>{% if user.twitter_url %}{{ user.twitter_url }}{% endif %}{% if not user.twitter_url %}twitter_urlが登録可能です。→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>インスタグラム<br>{% if user.instagram_url %}{{ user.instagram_url }}{% endif %}{% if not user.instagram_url %}instagram_urlが登録可能です。→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>実績サイトURL<br>{% if user.blog_url %}{{ user.blog_url }}{% endif %}{% if not user.blog_url %}が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>実績サイトURL2<br>{% if user.mysite_url %}{{ user.mysite_url }}{% endif %}{% if not user.mysite_url %}が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>自己紹介<br>{% if user.history_of_user %}{{ user.history_of_user|safe }}{% endif %}{% if not user.history_of_user %}が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>レッスン受付開始スタートのコマ時刻<br>{% if user.business_hour_start %}{{ user.business_hour_start }}時{% endif %}{% if not user.business_hour_start %}が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>レッスン受付開始ラストのコマの時刻<br>{% if user.business_hour_end %}{{ user.business_hour_end }}時{% endif %}{% if not user.business_hour_end %}が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>月曜日のレッスン受付状況設定<br>{% if user.weekday_business_status_monday == 0 %}お休み{% endif %}{% if user.weekday_business_status_monday == 1 %}レッスン受付中{% endif %}
        <p><span class="glyphicon glyphicon-map-marker"></span>火曜日のレッスン受付状況設定<br>{% if user.weekday_business_status_tuesday == 0 %}お休み{% endif %}{% if user.weekday_business_status_tuesday == 1 %}レッスン受付中{% endif %}
        <p><span class="glyphicon glyphicon-map-marker"></span>水曜日のレッスン受付状況設定<br>{% if user.weekday_business_status_wednesday == 0 %}お休み{% endif %}{% if user.weekday_business_status_wednesday == 1 %}レッスン受付中{% endif %}
        <p><span class="glyphicon glyphicon-map-marker"></span>木曜日のレッスン受付状況設定<br>{% if user.weekday_business_status_thursday == 0 %}お休み{% endif %}{% if user.weekday_business_status_thursday == 1 %}レッスン受付中{% endif %}
        <p><span class="glyphicon glyphicon-map-marker"></span>金曜日のレッスン受付状況設定<br>{% if user.weekday_business_status_friday == 0 %}お休み{% endif %}{% if user.weekday_business_status_friday == 1 %}レッスン受付中{% endif %}
        <p><span class="glyphicon glyphicon-map-marker"></span>土曜日のレッスン受付状況設定<br>{% if user.weekday_business_status_saturday == 0 %}お休み{% endif %}{% if user.weekday_business_status_saturday == 1 %}レッスン受付中{% endif %}
        <p><span class="glyphicon glyphicon-map-marker"></span>日曜日のレッスン受付状況設定<br>{% if user.weekday_business_status_sunday == 0 %}お休み{% endif %}{% if user.weekday_business_status_sunday == 1 %}レッスン受付中{% endif %}
        <p><span class="glyphicon glyphicon-map-marker"></span>対応カテゴリー<br>
        {% for tag in user.category_tag_one.all %}<span class="badge badge-info">{{ tag }}</span>&nbsp;{% endfor %}
         <br><br>

        <p><h5>【限定公開情報※レッスン許可した受講生だけにレッスン前に公開】</h5></p>
        <p><span class="glyphicon glyphicon-map-marker"></span>skype ID<br>{% if user.skype_id %}{{ user.skype_id }}{% endif %}{% if not user.tel_two %}skype idが未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>受講生向け電話番号<br>{% if user.tel_two %}{{ user.tel_two }}{% endif %}{% if not user.tel_two %}受講生向け電話番号が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>

        <p><h5>【非公開情報】</h5></p>
        <p><span class="glyphicon glyphicon-map-marker"></span>mail<br>{% if user.email %}{{ user.email }}{% endif %}{% if not user.email %}mailが未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>緊急連絡用電話番号<br>{% if user.tel_one %}{{ user.tel_one }}{% endif %}{% if not user.tel_one %}緊急連絡用電話番号が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>報酬振込先銀行口座<br>{% if user.bank_account %}{{ user.bank_account }}{% endif %}{% if not user.bank_account %}報酬振込先銀行口座が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>楽曲購入ポイント<br>{% if user.credit_point_three %}{{ user.credit_point_three }}{% endif %}{% if not user.credit_point_three %}0{% endif %}→<a href="/my_payment_info">購入する</a></p>


        <br>
        <a href="/my_private_info_edit">情報更新</a>


      </div>
      </div>
    </section>

    <!-- /.content -->

<section class="col-lg-9 connectedSortable">

      <div class="box box-primary">
        <div class="box-header">

          <i class="ion ion-clipboard"></i>

          <h3 class="box-title"> {{ user.first_name }}さんのレッスン予定</h3>
        </div>

        <div class="box-tools pull-right">
        </div>
        <div class="box-body">
          <div class="row clearfix">
            <div class="col-md-12 column">
              <div class="tabbable" id="tabs-444468">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#panel-0001" data-toggle="tab">最新順のレッスンリスト</a>
                  </li>
                </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="panel-0001">
        <div class="row clearfix">
          <div class="col-md-12 column">
            <p>
            <div class="col-lg-12 col-md-12 column">
            <h5>レッスン数　<span class="glyphicon glyphicon-thumbs-up"></span>{{ total_likepoint.sum }}</h5>
            <hr>

            <ul class="event-list">

              </ul>
              <table class="table">
              <thead>
              <tr>
              <th>レッスンタイプ</th>
              <th>開始時刻</th>
              <th>ステータス</th>
              <th></th>
              <th>受講者名</th>
              <th></th>
              <th></th>
              </tr>
              </thead>
              <tbody>
              {% for obj in schedule %}
              <tr>
              <td>{% if obj.lesson_type == 0 %}ソルフェージュ(25分間){% endif %}{% if obj.lesson_type == 1 %}演奏レッスン(40分間){% endif %}</td>
              <td>{% if obj.start %}{{ obj.start }}{% endif %}</td>
              <td>{% if obj.status == 0 %}<p class="label label-success">予約申請中</p>{% endif %}{% if obj.status == 1 %}<p class="label label-primary">予約完了</p>{% endif %}{% if obj.status == 2 %}<p class="label label-info">受講済</p>{% endif %}{% if obj.status == 3 %}<p class="label label-warning">キャンセル</p>{% endif %}{% if obj.status == 4 %}<p class="label label-warning">予約申請不可</p>{% endif %}{% if obj.status == 6 %}<p class="label label-warning">直前キャンセル</p>{% endif %}</td>
              <td>{% if obj.trial_or_not == True %}<p class="label label-success">お試し</p>{% endif %}</td>
              <td>{% if obj.student.last_name %}{{ obj.student.last_name }}{% endif %}{% if obj.student.first_name %}{{ obj.student.first_name }}{% endif %}さん</a></td>
              <td><a href="student_carte/{{ obj.student.uuid }}" target="_blank" rel="noopener">カルテ</a></td>
              <td>{% if obj.status == 0 %}{% if obj.teacher.id == user.id %}<a href="lesson_edit_to_ng/{{ obj.id }}"><button type="button" class="btn btn-default pull-right">不承認</button></a>{% endif %}{% endif %}</td>
              <td>{% if obj.status == 0 %}{% if obj.teacher.id == user.id %}<a href="lesson_edit_to_ok/{{ obj.id }}"><button type="button" class="btn btn-default pull-right">承認</button></a>{% endif %}{% endif %}</td>
              </tr>
              {% endfor %}
              </tbody>
              </table>


           <div class="box-footer clearfix no-border">
　　　　　<a href="/my_lesson_list"><button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> もっと見る</button></a>
            </div>
         </div>
        </p>
      </div>
    </div>
  </div>


                  </div>
                </div>
              </div>
            </div>
          </div>



       </div>




    </section>
    <!-- /.content -->


    {% endif %}

    <!-- ordinary user -->
    {% if user.account_type == 0 %}<!-- student user -->

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      {% ifequal request.user user %}
      <div class="row">
        <div class="col-lg-6 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{% if user.credit_point_two %}{{ user.credit_point_two }}{% endif %}{% if not user.credit_point_two %}0{% endif %}</h3>

              <p>楽器演奏レッスン利用可能回数</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">Star</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-orange">
            <div class="inner">
              <h3>{% if user.credit_point %}{{ user.credit_point }}{% endif %}{% if not user.credit_point %}0{% endif %}</h3>

              <p>ソルフェージュ利用可能回数</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">Pageview</a>
          </div>
        </div>
        <!-- ./col -->
        {% endifequal %}
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
<!-- designer_start -->

<!-- designer_end -->

<!-- supplyer_start -->
      <section class="col-lg-3 connectedSortable">
      <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-person"></i>
              <h3 class="box-title">{{ user.first_name }}さん</h3>
              </div>

      <div class="box-tools pull-right">
      </div>
      <div class="box-body">
        {% if user.account_type == 1 %}<span class="badge badge-default">講師アカウント</span><br>{% endif %}
        <p><h5>【公開情報】</h5></p>
        <p><span class="glyphicon glyphicon-pencil"></span>プロフィール画像</p>
        {% if user.thumnail_image %}<img src='{{ user.thumnail_image.url }}' class='img-responsive img-rounded'  width="200" height="80"/>{% endif %}
        {% if not user.thumnail_image %}プロフィール画像が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}
        <br>
        <p><span class="glyphicon glyphicon-map-marker"></span>苗字<br>{% if user.last_name %}{{ user.last_name }}{% endif %}{% if not user.last_name %}苗字が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>名前<br>{% if user.first_name %}{{ user.first_name }}{% endif %}{% if not user.first_name %}お名前が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>自己紹介</p>
        {% if user.history_of_user %}{{ user.history_of_user|safe }}{% endif %}{% if not user.history_of_user %}が未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}
        <br>

        <p><h5>【非公開情報】</h5></p>
        <p><span class="glyphicon glyphicon-map-marker"></span>mail<br>{% if user.email %}{{ user.email }}{% endif %}{% if not user.email %}mailが未登録です→<a href="/my_private_info_edit">登録する</a>{% endif %}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>楽曲購入ポイント<br>{% if user.credit_point_three %}{{ user.credit_point_three }}{% endif %}{% if not user.credit_point_three %}0{% endif %}→<a href="/my_payment_info">購入する</a></p>


        <br>
        <a href="/my_private_info_edit">情報更新</a>


      </div>
      </div>
    </section>

    <!-- /.content -->

<section class="col-lg-9 connectedSortable">

      <div class="box box-primary">
        <div class="box-header">

          <i class="ion ion-clipboard"></i>

          <h3 class="box-title"> {{ user.first_name }}さんのレッスン予定</h3>
        </div>

        <div class="box-tools pull-right">
        </div>
        <div class="box-body">
          <div class="row clearfix">
            <div class="col-md-12 column">
              <div class="tabbable" id="tabs-444468">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#panel-0001" data-toggle="tab">最新順のレッスンリスト</a>
                  </li>
                </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="panel-0001">
        <div class="row clearfix">
          <div class="col-md-12 column">
            <p>
            <div class="col-lg-12 col-md-12 column">
            <h5>レッスン数　:{{ schedule.count }}</h5>
            <hr>

            <ul class="event-list">

              </ul>
              <table class="table">
              <thead>
              <tr>
              <th>レッスンタイプ</th>
              <th>開始時刻</th>
              <th>ステータス</th>
              <th>担当講師</th>
              </tr>
              </thead>
              <tbody>
              {% for obj in schedule %}
              <tr>
              <td>{% if obj.lesson_type == 0 %}ソルフェージュ(25分間){% endif %}{% if obj.lesson_type == 1 %}演奏レッスン(40分間){% endif %}</td>
              <td>{% if obj.start %}{{ obj.start }}{% endif %}</td>
              <td>{% if obj.status == 0 %}<p class="label label-success">予約申請中</p>{% endif %}{% if obj.status == 1 %}<p class="label label-primary">予約完了</p>{% endif %}{% if obj.status == 2 %}<p class="label label-info">受講済</p>{% endif %}{% if obj.status == 3 %}<p class="label label-warning">キャンセル</p>{% endif %}{% if obj.status == 4 %}<p class="label label-warning">予約申請不可</p>{% endif %}{% if obj.status == 6 %}<p class="label label-warning">直前キャンセル</p>{% endif %}</td>
              <td>{% if obj.teacher.last_name %}<a href="/teacher_detail/{{ obj.teacher.uuid }}" target="_blank" rel="noopener">{{ obj.teacher.last_name }}先生{% endif %}</a></td>
              <td>{% if obj.status == 0 or obj.status == 1 %}<a href="lesson_edit_to_cancel/{{ obj.id }}"><button type="button" class="btn btn-default pull-right">キャンセル</button></a>{% endif %}</td>
              <td>{% if obj.status == 1 %}<a href="lesson_edit_to_fin/{{ obj.id }}"><button type="button" class="btn btn-default pull-right">受講完了</button></a>{% endif %}</td>
              </tr>
              {% endfor %}
              </tbody>
              </table>


           <div class="box-footer clearfix no-border">
　　　　　<a href="/my_lesson_list"><button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> もっと見る</button></a>
            </div>
         </div>
        </p>
      </div>
    </div>
  </div>


                  </div>
                </div>
              </div>
            </div>
          </div>



       </div>




    </section>
    <!-- /.content -->

    <section class="col-lg-12 connectedSortable">
          <div class="box box-primary">
        <div class="box-header">

          <i class="ion ion-clipboard"></i>

          <h3 class="box-title"> {{ user.first_name }}さんのお気に入り講師リスト</h3>
        </div>

        <div class="box-tools pull-right">
        </div>
        <div class="box-body">
          <div class="row clearfix">
            <div class="col-md-12 column">
        <table class="table">
        <thead>
        <tr>
        <th></th>
        <th>講師名</th>
        <th>専門科目</th>
        <th></th>
        </tr>
        </thead>
        <tbody>
        {% for obj in follow_list_obj %}
        <tr>
        <td>{% if obj.followed_teacher.thumnail_image %}<a href="/teacher_detail/{{ obj.followed_teacher.uuid }}" target="_blank" rel="noopener"><img src='{{ obj.followed_teacher.thumnail_image.url }}' class='img-responsive img-rounded'  width="50" height="20"/>{% endif %}</td>
        <td>{% if obj.followed_teacher.last_name %}<a href="/teacher_detail/{{ obj.followed_teacher.uuid }}" target="_blank" rel="noopener">{{ obj.followed_teacher.last_name }}</a>{% endif %}{% if obj.followed_teacher.first_name %}<a href="/teacher_detail/{{ obj.followed_teacher.uuid }}">{{ obj.followed_teacher.first_name }}</a>{% endif %}</td>
        <td>{% for tag in obj.followed_teacher.category_tag_one.all %}<span class="badge badge-info">{{ tag }}</span>&nbsp;{% endfor %}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>

        <table border=0 align="center">
        <tr>

        </tr>
        </table>

        <table border=0 align="center">
        <tr>

        </tr>
        </table>
                </div>
                </div>
                </div>
                </div>
                </div>
    </section>
    {% endif %}
  </div>
</div>
<!-- designer_end -->


{% include 'navbardesigned_foot.html' %}
{% endblock %}
