{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@bay2c" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="{% static 'img/brand_2.png' %}" />

    <title>{% block head_title %}test{% endblock %}</title>

    {% include 'head_css.html' %}
    {% block header %}{% endblock %}

      <style>
      {% block style %}{% endblock %}
      </style>



  </head>

  <body class="hold-transition skin-blue sidebar-mini">
            {% block content %}

            {% endblock %}


    {% include "javascript.html" %}
    {% block js %}{% endblock %}


  </body>
</html>
