{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<div class="row">
    <!-- 左側、ログインエリア -->
    <div class="card col-md-12">
        <div class="card-body">
            <form action="{% url 'register:login' %}" method="POST">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-lg btn-block" >ログイン</button>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </form>
        </div>
    </div><!-- 左側、ログインエリアおわり -->

    <!-- 右側、会員登録エリア -->
    <div class="card col-md-12">
        <div class="card-body">
            <a href="/contact" class="btn btn-primary btn-lg btn-block" >会員登録する</a><hr>
            <a href="/register/password_reset/">パスワードを忘れた方</a>
        </div>
    </div><!-- 右側、会員登録エリアおわり -->
</div>
{% endblock %}
